/*
Scroll up button
*/
#suBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  border: none;
  outline: none;
  background-color: grey;
  cursor: pointer;
  padding: 7px;
  border-radius: 10px;
}
/*
Scroll up button with a hover effect.
*/
#suBtn:hover {
	background-color: white;
}



/*Do not worry about these styles below.*/
div {
	background-color: black;
	height: 1100px;
}

h1 {
	color: white;
	font-size: 55px;
}

h2 {
	font-size: 55px;
}
